<%- include("./partials/header.ejs") %>
    <main>
        <div class="container">
            <form id="dateForm" action="/" method="post">
                <div class="input-sec">
                    <!-- Day -->
                    <div class="input-box">
                        <div class="input-head day-title">
                            DAY
                        </div>
                        <input id="day" type="text" name="day" placeholder="DD" autocomplete="off"
                            value="<%= userDay ?? '' %>">
                        <p class="day-err-msg">
                        </p>
                        <p class="show-valid-date-msg">
                        </p>
                    </div>
                    <!-- Month -->
                    <div class="input-box">
                        <div class="input-head month-title">
                            MONTH
                        </div>
                        <input id="month" type="text" name="month" placeholder="MM" autocomplete="off"
                            value="<%= userMonth ?? '' %>">
                        <p class="month-err-msg"></p>
                    </div>
                    <!-- Year -->
                    <div class="input-box">
                        <div class="input-head year-title">
                            YEAR
                        </div>
                        <input id="year" type="text" name="year" placeholder="YYYY" autocomplete="off"
                            value="<%= userYear ?? '' %>">
                        <p class="year-err-msg"></p>
                    </div>

                    <button type="submit" class="btn">
                        <img src="/assets/images/icon-arrow.svg" alt="icon-arrow">
                    </button>
                </div>
            </form>
            <div class="line"></div>
            <div class="result-output-sec">
                <div>
                    <span id="show-year" class="output">
                        <%=Year%>
                    </span>
                    <p>years</p>
                </div>
                <div>
                    <span id="show-month" class="output">
                        <%=Month%>
                    </span>
                    <p>months</p>
                </div>
                <div>
                    <span id="show-day" class="output">
                        <%=Day%>
                    </span>
                    <p>days</p>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer.ejs") %>